// variables
$color-primary: #d7852e;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b455;
$color-white: #fff;

$four-containers: 20%;
$two-containers:45%;
$one-containers:70%;
// MIXINS
// ----- Media Query ---
/*
0 - 600     phone       Phone
600 - 900   tab-port    Tablet portrait
900 - 1200  tab-land    Tablet landscape
1200 - 1800 desktop     Desktop
1em == 16 px,  rem not working propely in media query!  600/16
*/
@mixin respond($breakpoints){
    @if $breakpoints == phone{
        @media (max-width:37.5em) { @content } ;
    }
    @if $breakpoints == tab-port{
        @media (max-width:56.25em) { @content } ;
    }
    @if $breakpoints == tab-land{
        @media (max-width:75em) { @content } ;
    }
    @if $breakpoints == desktop{
        @media (max-width:112.5em) { @content } ;
    }
    @if $breakpoints == desktop-big{
        @media (max-width:152.5em) { @content } ;
    }
}

//  reseting broswer
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;       // 1rem == 10px;    10px/16px = 62.5%
    
}

body{
    background-color: $color-primary;

    h1{
        text-align: center;
        padding: 2rem;
    }

    @include respond(desktop-big){
        font-size: 4rem;
    }
    @include respond(desktop){
        font-size: 3rem;
    } 
    @include respond(tab-land){
        font-size: 2rem;
    }   
    @include respond(phone){
        font-size: 1rem;
    }
}

////     content
.cointainer{
    background-color: aliceblue;
    width: 98vw;
    margin-left: 1vw;
    margin-top: 1vh;
    
    //////  header
    .header{
        display: flex;
        background-color: #28b455;
    }

    // Title info
    .title-info{
        background-color: aqua;
        display: flex;
    }

    // Menu
    .menu{
        background-color: rgb(116, 95, 160);
        .menu-container{
            display: flex;
            flex-wrap: wrap;

        .appetizers{
            background-color: $color-primary;
            margin: 2rem;
            border: 1px red  solid;
            border-radius: 3%;
        
            h1{
                    text-align: left;
                    padding-left: 0;
            }
            
            .row1{
                display: flex;

                .menu-img{
                    width: 20rem;
                    padding: 1rem;
                }
            }
            
            @include respond(desktop-big){
                width: $four-containers;
            }
            @include respond(desktop){
                width: $four-containers;
            } 
            @include respond(tab-land){
                width: $two-containers;
            }   
            @include respond(phone){
                width: $one-containers;
            }
        }

        .entrees{
            display: flex;
            @include respond(desktop-big){
                width: $four-containers;
            }
            @include respond(desktop){
                width: $four-containers;
            } 
            @include respond(tab-land){
                width: $two-containers;
            }   
            @include respond(phone){
                width: $one-containers;
            }
        }

        .desserts{
            display: flex;
            @include respond(desktop-big){
                width: $four-containers;
            }
            @include respond(desktop){
                width: $four-containers;
            } 
            @include respond(tab-land){
                width: $two-containers;
            }   
            @include respond(phone){
                width: $one-containers;
            }
        }

        .beverages{
            display: flex;
            @include respond(desktop-big){
                width: $four-containers;
            }
            @include respond(desktop){
                width: $four-containers;
            } 
            @include respond(tab-land){
                width: $two-containers;
            }   
            @include respond(phone){
                width: $one-containers;
            }
        }
    }
    }

    //  Galery
    .galery{
        background-color: bisque;

        .galery-container{
            //background-color:#28b455;
            padding-left: 1%;
            width: 96vw;
            display: flex;
            //align-items: center;
            justify-content:space-around;

            .galery-img{
                width: 18%;
                margin: 1%;
            }
        }
        
        
    }

    // Contact
    .contact{
        background-color: #d7852e;
        display: flex;
        flex-direction: column;
        align-items: center;
        //justify-content:flex-start;
        h1{
            padding: 2rem;
        }
        .text1{
            
            padding: 2rem;
            padding-left: 5%;
            padding-right: 5%;
        }
        .text3{
            
            padding: 2rem;
            padding-left: 5%;
            padding-right: 5%;
        }
        @include respond(desktop-big){
            font-size: 4rem;
        }
        @include respond(desktop){
            font-size: 3rem;
        } 
        @include respond(tab-land){
            font-size: 2rem;
        }   
        @include respond(phone){
            font-size: 1rem;
        }

    }

    //  Footer
    .footer{
        background-color: brown;
        // text-align: center;
        color:$color-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @include respond(desktop-big){
            font-size: 5rem;
        }

        @include respond(desktop){
            font-size: 3rem;
        } 
        @include respond(tab-land){
            font-size: 2rem;
        }                  

        @include respond(phone){
            font-size: 1rem;
        }
        
        p{
            padding-top: 1rem;
        }
        p:last-child{
            padding-bottom: 1rem;
        }
    }
}