// variables
$color-primary: #eecf33;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b455;
$color-white: #fff;

// MIXINS
// ----- Media Query ---
/*
0 - 600     phone       Phone
600 - 900   tab-port    Tablet portrait
900 - 1200  tab-land    Tablet landscape
1200 - 1800 desktop     Desktop
1em == 16 px,  rem not working propely in media query!  600/16
*/
@mixin respond($breakpoints){
    @if $breakpoints == phone{
        @media (max-width:37.5em) { @content } ;
    }
    @if $breakpoints == tab-port{
        @media (max-width:56.25em) { @content } ;
    }
    @if $breakpoints == tab-land{
        @media (max-width:75em) { @content } ;
    }
    @if $breakpoints == desktop{
        @media (max-width:112.5em) { @content } ;
    }
    
}

//  reseting broswer
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;       // 1rem == 10px;    10px/16px = 62.5%
    
}

body{
    background-color: $color-primary;
}

////     content
.cointainer{
    background-color: aliceblue;
    width: 98vw;
    margin-left: 1vw;
    margin-top: 1vh;
    
    //////  header
    .header{
        display: flex;
        background-color: #28b455;
    }

    // Title info
    .title-info{
        background-color: aqua;
        display: flex;
    }

    // Menu
    .menu{
        background-color: rgb(116, 95, 160);

        .appetizers{
            display: flex;
        }

        .entrees{
            display: flex;
        }

        .desserts{
            display: flex;
        }

        .beverages{
            display: flex;
        }
    }

    //  Galery
    .galery{
        background-color: bisque;
    }

    // Contact
    .contact{
        background-color: #7ed56f;
    }

    //  Footer
    .footer{
        background-color: brown;
        text-align: center;
        color:$color-white;

        @include respond(phone){
            font-size: .8rem;
        }
        p{
            padding-top: 1rem;
        }
        p:last-child{
            padding-bottom: 1rem;
        }
    }
}