/*
0 - 600     phone       Phone
600 - 900   tab-port    Tablet portrait
900 - 1200  tab-land    Tablet landscape
1200 - 1800 desktop     Desktop
1em == 16 px,  rem not working propely in media query!  600/16
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #d7852e; }
  body h1 {
    text-align: center;
    padding: 2rem; }
  @media (max-width: 152.5em) {
    body {
      font-size: 4rem; } }
  @media (max-width: 112.5em) {
    body {
      font-size: 3rem; } }
  @media (max-width: 75em) {
    body {
      font-size: 2rem; } }
  @media (max-width: 37.5em) {
    body {
      font-size: 2rem; } }

.cointainer {
  background-color: aliceblue;
  width: 98vw;
  margin-left: 1vw;
  margin-top: 1vh; }
  .cointainer .header {
    display: flex;
    color: white;
    background-color: #f02b2b; }
    .cointainer .header .logo {
      width: 20rem;
      height: 20rem;
      padding-left: 2%;
      padding-top: 2%; }
      @media (max-width: 56.25em) {
        .cointainer .header .logo {
          width: 15rem;
          height: 15rem; } }
      @media (max-width: 37.5em) {
        .cointainer .header .logo {
          display: none; } }
    .cointainer .header .header-text {
      padding-left: 2%;
      padding-top: 2%; }
      .cointainer .header .header-text h5 {
        padding-bottom: 2rem;
        font-style: italic; }
  .cointainer .title-info {
    background-color: #ebbdbd;
    display: flex; }
    .cointainer .title-info .text {
      padding: 2rem; }
    .cointainer .title-info .img-title {
      padding: 2rem; }
      .cointainer .title-info .img-title .title {
        width: 10rem; }
      @media (max-width: 37.5em) {
        .cointainer .title-info .img-title {
          display: none; } }
  .cointainer .menu {
    background-color: #745fa0; }
    .cointainer .menu .menu-container {
      display: flex;
      flex-wrap: wrap; }
      .cointainer .menu .menu-container .appetizers {
        background-color: #d7852e;
        margin: 2rem;
        border: 1px red  solid;
        border-radius: 3%; }
        .cointainer .menu .menu-container .appetizers h1 {
          text-align: left; }
        .cointainer .menu .menu-container .appetizers .row1 {
          display: flex; }
          .cointainer .menu .menu-container .appetizers .row1 .app-text {
            padding: 1rem; }
          .cointainer .menu .menu-container .appetizers .row1 .menu-img {
            width: 20rem;
            padding: 1rem; }
            @media (max-width: 56.25em) {
              .cointainer .menu .menu-container .appetizers .row1 .menu-img {
                width: 10rem;
                height: 10rem; } }
            @media (max-width: 37.5em) {
              .cointainer .menu .menu-container .appetizers .row1 .menu-img {
                width: 10rem; } }
        @media (max-width: 152.5em) {
          .cointainer .menu .menu-container .appetizers {
            width: 45%; } }
        @media (max-width: 112.5em) {
          .cointainer .menu .menu-container .appetizers {
            width: 45%; } }
        @media (max-width: 75em) {
          .cointainer .menu .menu-container .appetizers {
            width: 42%; } }
        @media (max-width: 37.5em) {
          .cointainer .menu .menu-container .appetizers {
            width: 80%; } }
      .cointainer .menu .menu-container .entrees {
        display: flex; }
        @media (max-width: 152.5em) {
          .cointainer .menu .menu-container .entrees {
            width: 20%; } }
        @media (max-width: 112.5em) {
          .cointainer .menu .menu-container .entrees {
            width: 20%; } }
        @media (max-width: 75em) {
          .cointainer .menu .menu-container .entrees {
            width: 45%; } }
        @media (max-width: 37.5em) {
          .cointainer .menu .menu-container .entrees {
            width: 80%; } }
      .cointainer .menu .menu-container .desserts {
        display: flex; }
        @media (max-width: 152.5em) {
          .cointainer .menu .menu-container .desserts {
            width: 20%; } }
        @media (max-width: 112.5em) {
          .cointainer .menu .menu-container .desserts {
            width: 20%; } }
        @media (max-width: 75em) {
          .cointainer .menu .menu-container .desserts {
            width: 45%; } }
        @media (max-width: 37.5em) {
          .cointainer .menu .menu-container .desserts {
            width: 80%; } }
      .cointainer .menu .menu-container .beverages {
        display: flex; }
        @media (max-width: 152.5em) {
          .cointainer .menu .menu-container .beverages {
            width: 20%; } }
        @media (max-width: 112.5em) {
          .cointainer .menu .menu-container .beverages {
            width: 20%; } }
        @media (max-width: 75em) {
          .cointainer .menu .menu-container .beverages {
            width: 45%; } }
        @media (max-width: 37.5em) {
          .cointainer .menu .menu-container .beverages {
            width: 80%; } }
  .cointainer .galery {
    background-color: #ebbdbd; }
    .cointainer .galery .galery-container {
      padding-left: 1%;
      width: 96vw;
      display: flex;
      justify-content: space-around; }
      .cointainer .galery .galery-container .galery-img {
        width: 18%;
        margin: 1%; }
  .cointainer .contact {
    background-color: #d7852e;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .cointainer .contact h1 {
      padding: 2rem; }
    .cointainer .contact .text1 {
      padding: 2rem;
      padding-left: 5%;
      padding-right: 5%; }
    .cointainer .contact .text3 {
      padding: 2rem;
      padding-left: 5%;
      padding-right: 5%; }
    @media (max-width: 152.5em) {
      .cointainer .contact {
        font-size: 4rem; } }
    @media (max-width: 112.5em) {
      .cointainer .contact {
        font-size: 3rem; } }
    @media (max-width: 75em) {
      .cointainer .contact {
        font-size: 2rem; } }
    @media (max-width: 37.5em) {
      .cointainer .contact {
        font-size: 1rem; } }
  .cointainer .footer {
    background-color: brown;
    color: #ebbdbd;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 152.5em) {
      .cointainer .footer {
        font-size: 5rem; } }
    @media (max-width: 112.5em) {
      .cointainer .footer {
        font-size: 3rem; } }
    @media (max-width: 75em) {
      .cointainer .footer {
        font-size: 2rem; } }
    @media (max-width: 37.5em) {
      .cointainer .footer {
        font-size: 1rem; } }
    .cointainer .footer p {
      padding-top: 1rem; }
    .cointainer .footer p:last-child {
      padding-bottom: 1rem; }
